

<div style='font-size:20px'>
	<p>Dear user, <br> Your ticket for the movie has booked with the following details: </p>

<p><b>Movie: </b> <%=data.movieName%> | <%=data.language%> | <%=data.dimension%></p>
<p><b>Hall: </b> <%=data.hall%></p>
<p><b>Date: </b> <%=data.date%></p>
<p><b>Time: </b> <%=data.time%></p>
<p><b>Screen: </b> <%=data.screen%></p>
<p><b>Seat No: </b> <%=data.seatNo%></p>
<p><b>Ticket Price: </b> <%=data.total%></p>
<p><b>Internet Fees: </b> <%=data.fees%></p>
<p><b>Total Amount: </b> <%=data.subTotal%></p>
</div>

