<% include nav %>
<% if(typeof(data)!='undefined') { %>
<div class='image'>
	<div class='rows'>
		<div class='pull-left movieDetail'>
			<span class='movieName'><%= data.name %></span>
	        <p class='language'><%= data.language %> &nbsp;&nbsp; <span class='movieType'><%= data.type %></span> &nbsp;&nbsp; <span class='dimension'><%= data.dimension %></span></p>
	    </div>
	</div>
</div><br>


<div class='row date-row'>
<% for(var i=0; i < date.length; i++) { %>
	<button class="btn btn-success pull-left date">
		<div onclick='pickDate(this)'><%= date[i].date %><br>
	        <span><%= date[i].day %></span>
	    </div>
	</button>	
<% } %>
</div><br>
<% for(var i=0; i < arr.length; i++) { %>


<div class='wrap venue-time'>
	<br>
	<div class="row inner">
	    <div class="col-xs-3 venue">
	    	<span class='glyphicon glyphicon-film'></span><%= arr[i].hall %>
	    </div>
	    <div class="col-xs-8 choose-time">
<% for(var j=0; j < arr[i].movie.length; j++) { %>
            <input type='text' value='<%= arr[i].movie[j].screen %>'>
			<button class="btn btn-info pull-left time" onclick='pickTime(this)'> <%= arr[i].movie[j].time %>
            </button>
            <input type='text' value='<%= arr[i].movie[j].price %>'>
<% } %>    
	    </div>
	</div><hr>	    
</div>
<% } %>
<% } %>
<form class='formH' action="/noofseat" method='post'>
    <input type="text" class='dateH' name='dateH'>
    <input type="text" class='movieNameH' name='movieNameH'>
    <input type="text" class='timeH' name='timeH'>
    <input type="text" class='hallH' name='hallH'>
    <input type="text" class='screenH' name='screenH'>
    <input type="text" class='priceH' name='priceH'>
</form>

<script>
    var date='<%= date[0].date %>',movieName='',hall='',time='';
    function pickDate(x){
        date = x.innerText;
        
        console.log("date: ", date, movieName);
    }
    function pickTime(x){
        time = x.innerText;
        hall = x.parentElement.parentElement.children[0].innerText;
        movieName = document.querySelector('.movieName').innerText;
document.querySelector('.dateH').value = date;
document.querySelector('.movieNameH').value = movieName;
document.querySelector('.timeH').value = time;
document.querySelector('.hallH').value = hall;
document.querySelector('.screenH').value = x.previousElementSibling.value;
document.querySelector('.priceH').value = x.nextElementSibling.value;
        // console.log("Time: ", time, hall,date,movieName);
        // console.log("sibling: ", x.nextElementSibling.value)
        // console.log("sibling 1: ", x.previousElementSibling.value)
        // console.log("Date: ", document.querySelector('.hallH').value);
        document.querySelector('.formH').submit();
 // window.location = "http://localhost:3000/noofseat?date="+date+'&time='+time+'&hall='+hall+'&movieName='+movieName;

// var settings = {
//   "async": true,
//   "crossDomain": true,
//   "url": "http://localhost:3000/noofseat",
//   "method": "GET",
//   "data": {
//     "date": date,
//     "time": time,
//     "hall": hall,
//     "movieName": movieName
//   }
// }

// $.ajax(settings).done(function (response) {
//   console.log(response);
//   // window.location = "http://localhost:3000/noofseat";
//   // window.location = 'http://localhost:3000/noofseat?'+settings.data;
// });


    }
</script>



    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

<style>

.movieDetail{
    width: 470px auto;
    height: 273px auto;
    background-size: 450px 250px;
    background-repeat: no-repeat;
/*     background: #f5f5f0; */
    margin: 290px 0px 0px 20px;
    /*border: 2px solid red;*/
    padding: 12px;
    overflow: auto;
    /*overflow: auto;*/
}
.movieName, .language{
    color:  #f5f5f0;
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 2px 0px 0px 15px;
}
.language{
    color: red;
    font-size: 24px;
    font-weight: bold;
}
.movieType{
    border: 2px solid red;
    border-radius: 20%;
    padding: 2px;
}
.image{
	width: 95%;
	height: 400px;
	margin: 0 auto;
	background-image: url('/images/pics/<%= name %>.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    box-shadow: 0px 0px 5px #888888;
}
.date-row{
    width:95%;
    margin: 0px auto;
    padding: 15px;
    box-shadow: 0px 0px 5px #888888;
}
.date{    
	color: black;
    margin-left: 12px;
    background: white;
    border: 2px solid #00802b;    
}
.time{
	color: black;
    margin-left: 12px;
    background: white;
    border: 2px solid #006699;
}
.date:hover{
    /*background: #00b359;*/
    color: white;
    border: 2px solid #00802b;
}
.time:hover{
    /*background: #00b359;*/
    color: white;
    border: 2px solid #006699;
}
.wrap{
    /*background: lightgreen;*/
    width:95%;
    margin: 0px auto;
    box-shadow: 0px 0px 5px #888888;
}
.inner{
     margin-top: 10px; 
    padding: 10px;
}
hr{
	height: 1px;
	background: #d6d6c2;
}
.venue{
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    padding-left: 40px;
}
.venue > span{
	margin-right: 8px;
}

</style>