<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<%= JSON.stringify(data) %>
<div class='content'>
  <button class='pay pull-right' onclick='submitToPay()'>PAY NOW</button>
  <div class='amount pay pull-right'><p>&#x20b9; <span class='total'>0.00</span></p></div>
</div>
<div class='movieDetail'>
  <h2><%= obj.name%></h2>
  <h4><%= obj.language%> | <%= obj.dimension%></h4>
  <h4><%= data.hall%></h4>
</div>
<div class="container">

<div class='row seats'>
  <p>Club-RS. <%= data.price[2]%></p>
  <span>A -</span>
<% for(var i=1; i < 11; i++) { %>
  <button class='btn' id='<%= data.price[2]%>' name='A<%=i%>' onclick='calculateAmount(this);' value='<%=i%>'><%=i%></button>
<% } %>  

</div>          
<div class='row seats'>
  <span>B -</span>
<% for(var i=1; i < 11; i++) { %>
  <button class='btn' id='<%= data.price[2]%>' name='B<%=i%>' onclick='calculateAmount(this);' value='<%=i%>'><%=i%></button>
<% } %> 

</div>
<div class='row seats'>
  <span>C -</span>
<% for(var i=1; i < 11; i++) { %>
  <button class='btn' id='<%= data.price[2]%>' name='C<%=i%>' onclick='calculateAmount(this);' value='<%=i%>'><%=i%></button>
<% } %> 
</div>
<div class='row seats'>
  <span>D -</span>
<% for(var i=1; i < 11; i++) { %>
  <button class='btn' id='<%= data.price[2]%>' name='D<%=i%>' onclick='calculateAmount(this);' value='<%=i%>'><%=i%></button>
<% } %> 
</div>
<div class='row seats'>
  <span>E -</span> 
<% for(var i=1; i < 11; i++) { %>
  <button class='btn' id='<%= data.price[2]%>' name='E<%=i%>' onclick='calculateAmount(this);' value='<%=i%>'><%=i%></button>
<% } %> 
</div><br>
<div class='row seats'>
  <p>Premium-RS. <%= data.price[1]%></p>
  <span>F -</span> 
<% for(var i=1; i < 11; i++) { %>
  <button class='btn' id='<%= data.price[1]%>' name='F<%=i%>' onclick='calculateAmount(this);' value='<%=i%>'><%=i%></button>
<% } %> 
</div>
<div class='row seats'>
  <span>G -</span> 
<% for(var i=1; i < 11; i++) { %>
  <button class='btn' id='<%= data.price[1]%>' name='G<%=i%>' onclick='calculateAmount(this);' value='<%=i%>'><%=i%></button>
<% } %> 
</div>
<div class='row seats'>
  <span>H -</span>
<% for(var i=1; i < 11; i++) { %>
  <button class='btn' id='<%= data.price[1]%>' name='H<%=i%>' onclick='calculateAmount(this);' value='<%=i%>'><%=i%></button>
<% } %> 
</div>
<div class='row seats'>
  <span>&nbsp;I -</span> 
<% for(var i=1; i < 11; i++) { %>
  <button class='btn' id='<%= data.price[1]%>' name='I<%=i%>' onclick='calculateAmount(this);' value='<%=i%>'><%=i%></button>
<% } %>
</div>
<div class='row seats'>
  <span>J -</span> 
<% for(var i=1; i < 11; i++) { %>
  <button class='btn' id='<%= data.price[1]%>' name='J<%=i%>' onclick='calculateAmount(this);' value='<%=i%>'><%=i%></button>
<% } %>
</div>
<div class='row seats'>
  <span>K -</span> 
<% for(var i=1; i < 11; i++) { %>
  <button class='btn' id='<%= data.price[1]%>' name='K<%=i%>' onclick='calculateAmount(this);' value='<%=i%>'><%=i%></button>
<% } %>
</div><br>
<div class='row seats'>
  <p>Silver-RS. <%= data.price[0]%></p>
  <span>&nbsp;L -</span> 
<% for(var i=1; i < 11; i++) { %>
  <button class='btn' id='<%= data.price[0]%>' name='L<%=i%>' onclick='calculateAmount(this);' value='<%=i%>'><%=i%></button>
<% } %>
</div>
<div class='row seats'>
  <span>M -</span> 
<% for(var i=1; i < 11; i++) { %>
  <button class='btn' id='<%= data.price[0]%>' name='M<%=i%>' onclick='calculateAmount(this);' value='<%=i%>'><%=i%></button>
<% } %>
</div>

<div class='row screen'>SCREEN (all eyes this way please) </div>
</div>

<form class='formH' action="/amounttopay" method='post'>
    <input type="text" name='dateH' value='<%= data.date %>'>
    <input type="text" name='timeH' value='<%= data.time %>'>
    <input type="text" name='hallH' value='<%= data.hall %>'>
    <input type="text" name='movieNameH' value='<%= data.movieName %>'>
    <input type="text" name='languageH' value='<%= obj.language %>'>
    <input type="text" name='dimensionH' value='<%= obj.dimension %>'>
    <input type="text" name='screenH' value='<%= data.screen %>'>
    <input type="text" name='totalH' class='totalH'>
    <input type="text" name='seatNoH' class='seatNoH'>
    <input type="text" name='numH' value='<%= data.num %>'><br>
</form>

<% var lenRes = reserve.length %>

<script>
var total = 0, arr=[], seatNo='';
var seatArr = '<%-reserve%>'.split(',');
var n = '<%= data.num %>', count=0;
// document.querySelector('.btn').style.backgroundColor = 'red';


var all = document.querySelectorAll('.btn');
for(var i=0; i<all.length;i++){
  if(seatArr.indexOf(all[i].name)!=-1){
    all[i].style.background = 'gray';
    all[i].style.color = 'white';
  }
}
console.log(all,"length:",all.length)
console.log(all[0],"length:",all[3])

 function calculateAmount(x){
  console.log("Name: ",x.name,x.className,x.id,x.value);
  if(count<n && x.style.background!='gray'){
    count++;
    console.log(n," : ", count);

    arr.push(parseInt(x.id));
    var sum = arr.reduce(function(a, b){return a+b;})
    total = sum;
    document.querySelector('.total').innerHTML = parseInt(sum)+'.00';
    document.querySelector('.totalH').value = parseInt(sum);
    x.style.backgroundColor = "#b32400";
    x.style.color = "white";
    seatNo+=x.name+',';
    document.querySelector('.seatNoH').value = seatNo;
     // document.querySelector('.formH').submit();
  }


 }

 function submitToPay(){
  console.log("...:",n,count,total);
  if(count==n && total>0){
    console.log("Hello pay:",n,count,total);
    document.querySelector('.formH').submit();
  } else {
    alert("first select "+n+" seat to proceed");
  }
  
 }
</script>

<style>

.content{
  width: 100%;
  height: 90px;
  background: #001a33;  
}
.amount > p{
/*  line-height: 2.7;
  padding-left: 28px;*/
  margin: 13px auto;
  font-size: 18px;
}
.pay{
  width: 150px;
  height: 50px;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  background: #990000;
  border: none;
    margin-top: 20px;
  margin-right: 20px;
}
.pay:hover{
  background: #800000;
}

.container{
  /*background: #99ff99;*/
  width: 680px;
  padding-top: 20px;
  padding-bottom: 30px;
  height: auto;
  margin: 10px auto;
}
p{
/*   background: red; */
  font-size: 22px;
  text-align: center
}
.btn{
   /*padding-left: 35px; */
background: #f2f2f2;
  width:40px;
  height:35px; 
  text-align: center;
  margin-left: 10px; 
  border: 2px solid #00994d;
  border-radius: 5px;
/*   font-weight: bold; */
}
.btn:hover{
  background: #00994d;
  color: white;
  font-weight: bold;
}
.seats{
  padding: 10px 40px;
}
.screen{
  background: #999999;
  color: white;
  width: 500px;
  height: 30px;
  font-size: 19px;
  text-align: center;
  margin: 40px auto 0px;
  line-height: 1.6;
}
span{
  font-weight: bold;
  color: #999999;
}
</style>